@using DifferentLearn.Core.Convertors;
@using DifferentLearn.Core.Services.Interfaces;
@using DifferentLearn.Data.Entites.Course;
@model DifferentLearn.Core.DTOs.Course.CourseInfoViewModel
@inject IOrderService _orderservice;
@{
    ViewData["Title"] = "جزییات دوره: " + Model.CourseTitle;
    bool IsUserIncourse = false;
    if (User.Identity.IsAuthenticated)
    {
        IsUserIncourse = await _orderservice.IsUserInCourseAsync(User.Identity.Name, Model.CourseId);
    }
}
@section MetaTag{
    <meta name="googlebot" content="index,follow" >
    <meta name="robots" content="noodp,noydir">
    <meta name="description" content="شرح صفحه">
    <meta property="og:site_name" value="عنوان مثل خودآموز دیف لرن">
    <meta property="og:title" content="@Model.CourseTitle">
    <meta property="og:url" content="url safheye course">
    <meta property="og:image" content="address ax safhe">
    <meta property="og:image:height" content="500">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:price:currency" content="irr">
    <meta property="og:locale" content="ir_fa">
    <meta property="og:description" content="">
    <meta property="og:image:url" content="">
}
<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li style="margin:5px;"><a href="/">خانه</a></li>
        <li style="margin:5px;">/</li>
        <li style="margin:5px;"><a href="/Showcourse/@Model.CourseId">@Model.CourseTitle</a></li>
    </ul>
</nav>
<div class="courses-details pt-50 pb-50">
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <div class="buy-now-area">
                    <div class="page-header-content bg-gray-light" style="margin:0 0 15px 0;">
                        <h3>جزییات دوره</h3>
                    </div>
                    <div class="buy-content " style="margin:0 0 50px 0;">
                        <ul>
                            @if (Model.Price != 0)
                            {
                                <li>قیمت<span>@Model.Price.ToString("#,0") تومان</span></li>
                            }
                            else
                            {
                                <li>قیمت<span>رایگان</span></li>
                            }
                            <li>تعداد جلسات<span>@Model.EpisodeCount</span></li>
                            <li>مدت زمان جلسات<span>@Model.AllEpisodeTime</span></li>
                            <li>ثبت نام<span>@Model.Userscount نفر</span></li>
                            <li>تاریخ شروع دوره<span>@Model.CreateD.ToShamsi()</span></li>
                            <li>تاریخ آخرین بروزرسانی<span>@Model.UpdateD?.ToShamsi()</span></li>
                        </ul>
                        @if (!IsUserIncourse)
                        {
                            <a class="default-btn btn" href="/course/BuyCourse/@Model.CourseId">هم اکنون خریداری کنید</a>
                        }
                    </div>
                    <div class="buy-content">
                        <ul style="list-style:none;">
                            <div class="box about-img" style="margin:0 0 25px 0;">
                                <img style="margin:0 60px 0 0; max-width:300px;max-height:300px;" src="/assets/images/UserAvatar/@Model.TeacherImage" />
                            </div>
                            <li>مدرس<span>@Model.Teacher</span></li>
                        </ul>
                    </div>

                    <div class="share">
                        <h5>این دوره را به اشتراک بگذارید</h5>
                        <ul>
                            <li>
                                <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank"><i class="ri-facebook-fill"></i></a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank"><i class="ri-twitter-fill"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="share">
                        <h5>کلمات کلیدی دوره</h5>
                        @foreach (var item in Model.Tags.Split('-', StringSplitOptions.RemoveEmptyEntries))
                        {
                            <a href="/course?filter=@item">@item</a>
                        }
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="details">
                    <h3>@Model.CourseTitle</h3>
                    <div class="list2">
                        <ul>
                            <li><i class="status"> وضعیت دوره:  </i>@Model.Status</li>
                            <li><i class="fa-level-up"> سطح دوره:  </i>@Model.Level</li>
                            <li>
                                <div id="vote">
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                    <img src="/assets/images/courseavatar/image/@Model.CourseImage" alt="Image">
                </div>
                <div class="description">
                    <div class="container p-0">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview" type="button" role="tab" aria-controls="nav-overview" aria-selected="false">درباره دوره</button>

                                <button class="nav-link" id="nav-curriculum-tab" data-bs-toggle="tab" data-bs-target="#nav-curriculum" type="button" role="tab" aria-controls="nav-curriculum" aria-selected="true">جلسات دوره</button>

                                <button class="nav-link " id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#nav-reviews" type="button" role="tab" aria-controls="nav-reviews" aria-selected="false"> نظرات</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade active show" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
                                <div class="overview">
                                    
                                    <h3>شرح دوره</h3>
                                    <p>
                                        @Html.Raw(@Model.Description)
                                    </p>
                                    <hr />
                                    @if (!string.IsNullOrEmpty(Model.Demofile))
                                    {
                                        <video style="width:100%;" controls poster="/assets/images/courseavatar/image/@Model.CourseImage">
                                            <source src="/assets/images/courseavatar/demoes/@Model.Demofile" />

                                        </video>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade " id="nav-curriculum" role="tabpanel" aria-labelledby="nav-curriculum-tab">
                                <div class="curriculum">
                                    @if (!IsUserIncourse)
                                    {
                                        <div class="alert alert-info">
                                            <p>بعد از ثبت نام در این دوره و تایید فاکتور لینک های دانلود برای شما فعال خواهد شد</p>
                                        </div>
                                    }
                                    @if (ViewBag.Episode!=null)
                                    {
                                        CourseEpisode episode = ViewBag.Episode as CourseEpisode;


                                        <h2>@episode.EpisodeTitle</h2>
                                        <video style="width:100%;" controls>
                                            <source src="@ViewBag.filepath"/>
                                        </video>
                                    }
                                    <ul style="list-style:ethiopic-numeric;">
                                  
                                        @foreach (var item in Model.Episodes)
                                        {
                                            <li>
                                                @if (item.IsFree || IsUserIncourse)
                                                {
                                                    <a href="/downloadfile/@item.EpisodeId">
                                                        @item.EpisodeTitle :
                                                    </a>
                                                    
                                                }
                                                else
                                                {
                                                    <h6>@item.EpisodeTitle : </h6>
                                                }

                                                @if (item.IsFree)
                                                {
                                                    <i class="text text-success">رایگان</i>
                                                }
                                                else
                                                {
                                                    <i class=" text text-danger">نقدی</i>
                                                }
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    if (item.IsFree || IsUserIncourse)
                                                    {
                                                        <a href="/ShowCourse/@Model.CourseId?episode=@item.EpisodeId">تماشا</a>
                                                    }
                                                    
                                                }
                                                <span>@item.EpisodeTime</span>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
                                <div class="reviews">

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <form asp-controller="Course" asp-action="CreateComment"
                                              data-ajax="true"
                                              data-ajax-method="post"
                                              data-ajax-mode="replace"
                                              data-ajax-update="#listComment"
                                              data-ajax-success="Success">
                                            <input type="hidden" name="comment.CourseId" value="@Model.CourseId" />
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <textarea name="comment.Comment" class="form-control" id="review" rows="4" placeholder="نظر شما ..."></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="submit" class="default-btn btn mt-3">ارسال </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <div class=" alert alert-danger">
                                            جهت ثبت نظر باید وارد سایت شوید.
                                        </div>
                                    }

                                    <hr />

                                    <div id="listComment">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="/assets/js/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        function Success() {
            $("#review").val("");
        }

        $(function () {
            $("#listComment").load("/Course/ShowComment/" + @Model.CourseId);
        })
        function pageComment(pageid) {
            $("#listComment").load("/Course/ShowComment/" + @Model.CourseId+"?pageid=" + pageid);
        }
        $(function () {
            $("#vote").load("/course/coursevote/@Model.CourseId");
        });

        function vote(vote) {
            $("#vote").fadeOut('slow')
            $("#vote").load("/course/Addvote/@(Model.CourseId)?vote=" + vote);
            $("#vote").fadeIn('slow')
        }
    </script>
}