@page
@model DifferentLearn.Web.Pages.Admin.Courses.IndexModel
@{
    ViewData["Title"] = "مدیریت دوره ها";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header col-12">

                <div class="col-4">
                    <h3 class="card-title">لسیت دوره ها</h3>
                </div>


                <div class="card-tools">
                    <form>
                        <div class="input-group input-group-sm " style="width: 500px; margin: 0px 10px;">
                            <input style="margin:0 10px;" type="text" name="filterCourseTitle" class="form-control float-right" placeholder="جستجو نام دوره">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i></button>
                                <a class="btn btn-default btn-sm" href="/admin/Courses">پاک کن</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="row " style="margin:5px;">
                <a class=" btn btn-success btn-sm" href="/Admin/Courses/CreateCourse">افزودن دوره جدید</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>تصویر</th>
                            <th>عنوان دوره</th>
                            <th>تعدادجلسه</th>
                            <th>قیمت دوره</th>
                            
                            <th>دستورات</th>
                        </tr>
                        @foreach (var course in Model.pagingViewModels.showCourseForAdminViewModels)
                        {
                            <tr>
                                <td>
                                    <img  class="img-thumbnail" src="/assets/images/courseavatar/thumb/@course.ImageName" />
                                </td>

                                <td>@course.Title</td>

                                <td>@course.EpisodeCount</td>
                                
                                @if (course.Price==0)
                                {
                                    <td class="text text-success">رایگان</td>
                                }
                                else
                                {
                                    <td class="text text-danger">@course.Price</td>
                                }
                              
                                <td>
                                    <a href="/admin/Courses/editCourse/@course.CourseId" class="btn btn-warning btn-sm">ویرایش</a>
                                   @*  <a href="/admin/courses/DeleteCourse/@course.CourseId" class="btn btn-danger btn-sm">حذف</a> *@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->
    </div>


</div>
<div class=" col-12">

    <div class="col-4">

        <div class="card-tools">
            <ul class="pagination ">

                   @for (int i = 1; i <= Model.pagingViewModels.PageCount; i++)
                {
                <li class="paginate_button  @((i==Model.pagingViewModels.CurrentPage)? "active":"")">
                <a class="page-link" href="/Admin/courses?PageId=@i">@i</a>
                </li>
                }
            </ul>
        </div>
    </div>

</div>