@using DifferentLearn.Core.Services.Interfaces;
@model DifferentLearn.Data.Entites.Order.Order
@inject IWalletService _walletservice

@{
    ViewData["Title"] = "نمایش فاکتور";
    int sum = Model.OrderSum;
    string disType = (ViewBag.TypeDisCount).ToString();
}




<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li style="margin:5px;"><a href="/">خانه</a></li>
        <li style="margin:5px;">/</li>
        <li style="margin:5px;"><a href="/userpanel/order/ShowOrder/@Model.OrderId">نمایش فاکتور</a></li>
    </ul>
</nav>
<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_Sidebar" />
                <div class="col-md-8 col-sm-8 col-xs-12">

                    <section class="user-account-content">
                        <header><h1> فاکتور شما </h1></header>
                        @if (Model.IsFinaly)
                        {
                            @if (ViewBag.finaly == true)
                            {
                                <div class="alert alert-success">
                                    فاکتور با موفقیت پرداخت گردید.
                                </div>
                            }
                        }
                        else
                        {
                            <div class="alert alert-info">
                                پرداختی هنوز صورت نگرفته است.
                            </div>
                        }
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>دوره</th>
                                    <th>تعداد</th>
                                    <th>قیمت</th>
                                    <th>جمع</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.OrderDetails)
                                {
                                    <tr>
                                        <td><a href="/Showcourse/@item.CourseId" target="_blank">@item.Course.CourseTitle</a></td>
                                        <td>@item.Count</td>
                                        <td>@item.Price</td>
                                        <td>
                                            @((item.Price * item.Count))
                                        </td>

                                    </tr>
                                }
                                @if (!Model.IsFinaly)
                                {
                                    <tr>

                                        <td colspan="3" class="text-left">
                                            کد تخفیف
                                        </td>
                                        <td colspan="1">
                                            <form action="/userpanel/order/UseDisCount" method="post">
                                                <input type="hidden" name="orderid" value="@Model.OrderId" />
                                                <input style="max-width:300px;" name="code" type="text" class="form-control" />
                                                <input type="submit" class=" btn btn-primary mt-1" value="اعمال" />
                                            </form>
                                            @if (disType!="")
                                            {
                                                switch (disType)
                                                {
                                                    case "Success":
                                                        {
                                                            <div class="alert alert-success">
                                                                <p class="text text-muted">کد با موفقیت اعمال شد</p>
                                                            </div>
                                                            break;
                                                        }
                                                    case "ExpierDate":
                                                        {
                                                            <div class="alert alert-warning">
                                                                <p class="text text-muted">کد منقضی شده است</p>
                                                            </div>
                                                            break;
                                                        }
                                                    case "NotFound":
                                                        {
                                                            <div class="alert alert-danger">
                                                                <p class="text text-muted">کد معتبر نیست</p>
                                                            </div>
                                                            break;
                                                        }
                                                    case "Finished":
                                                        {
                                                            <div class="alert alert-danger">
                                                                <p class="text text-muted">کد به اتمام رسیده است</p>
                                                            </div>
                                                            break;
                                                        }
                                                    case "UserUsed":
                                                        {
                                                            <div class="alert alert-warning">
                                                                <p class="text text-muted">این کد قبلا توسط شما استفاده شده است</p>
                                                            </div>
                                                            break;
                                                        }
                                                }
                                            }
                                        </td>

                                    </tr>
                                }
                                <tr>

                                    <td class="text-left" colspan="3">
                                        مجموع کل
                                    </td>
                                    <td>@Model.OrderSum</td>
                                </tr>
                                @if (!Model.IsFinaly)
                                {
                                    <tr>
                                        <td colspan="4" class="text-left">

                                            @if (await _walletservice.BalanceUserWalletAsync(User.Identity.Name) >= sum)
                                            {
                                                <a class="btn btn-success btn-block" href="/userpanel/order/finalyorder/@Model.OrderId">پرداخت</a>
                                            }
                                            else
                                            {

                                                <div class="alert alert-danger ">
                                                    موجودی کیف پول شما کافی نیست
                                                    <a class="alert-link" href="/userpanel/Wallet">لطفا کیف پول خود را شارژ نمایید</a>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </section>
                </div>
            </div>
        </div>
    </div>
</main>